*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(121, 216, 118);
    font-family: 'Montserrat', sans-serif;
}
.header{
    display: flex;
    height: 4rem;
    background-color: rgb(51, 110, 54);
    align-items: center;
}

.nome{
    margin-left: 2vh;
}

.nome a{
    text-decoration: none; 
    color: black; 
    transition: 0.2s;
}

.nome a:hover{
    font-size: 105%;
    transition: 0.2s;
}

.imagem{
    margin-left: 2vh;
}






/* MAIN */
.corpo{
    margin-top: 2%;
    display: flex;
}




/* FILTROS */
.filtros{
    padding-left: 1vh;
    height: 35vh;
    background-color: rgb(255, 255, 255);
    width: 15%;
    margin-left: 5%;
    border-radius: 10px;
}



.tipo_medico{
    border-radius: 5px;
    padding-left: 2vh ;
    width: 20%;
    margin-left: 5%;
    margin-top: 2%;
    height: 10%;
    display: flex;
    background-color:rgb(255, 255, 255);
    align-items: center;
}

.tipo_medico select{
    height: 4.5vh;
    width: 40%;
    font-size: 1.7vh;
    border: none;
    border-radius: 5px;
    
}



.dia_horas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

.dia_horas select{
    height: 30%;
    width: 80%;
    font-size: 1.7vh;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* FIM FILTROS */



/* MEDICOS */
.medicos{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10%;
}

#cardMedico{
    background-color: rgb(255, 255, 255);
    height: 20vh;
    margin-top: 2%;
    border-radius: 10px;
    display: flex;

}

#cardMedico{
    transition-duration: 500ms;
    transition-property: margin-right;
}

.fotoMedico{
    width: 30%;
    border-radius: 10px;
}

.descricaoMedico{
    margin-left: 5%;
}

.botaoConsulta{
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.botaoConsulta button{
    border: none;
    background-color: rgb(23, 236, 87);
    height: 4vh;
    width: 20vh;
    border-radius: 10px;
}


/* FIM-FILTROS */

/* FIM-MAIN */

















/* FOOTER */

.footer {
    background-color: rgb(51, 110, 54);
    bottom: 0;
    width: 100%;
    height: 4rem; 
    position: fixed;
}

/* FIM-FOOTER */